@import url("./components/styles/_variables.css");

body {
  margin: 100px;
  font-family: var(--font);
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 16px;
}

.go-back-button {
  color: var(--color-primary);
  font-size: 40px;
  padding: 16px;
  transition: .3s;
}

.go-back-button:hover {
  cursor: pointer;
  transform: translateX(-5px);
}