.employee-card {
    display: flex;
    align-items: center;
    padding: 24px;

    background: #FBFCFF;
    border-radius: 16px;
    border: 1px solid transparent;
    transition: .3s;
    text-decoration: none;
    color: #000000;
}

.employee-card:hover {
    border: 1px solid #BFC8E5;
    box-shadow: 0 10px 25px #eaeffd;
    cursor: pointer;
}

.employee-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.employee-info {
    margin-left: 16px;
}

.employee-info .name {
    font-size: 18px;
    font-weight: bold;
}

.employee-info .position {
    font-size: 14px;
}