@import url("./_variables.css");

.employee-card {
    display: flex;
    align-items: center;
    padding: 24px;

    background: var(--color-background-secondary);
    background-size: 150% 150%;
    border-radius: 16px;
    transition: .3s;
    text-decoration: none;
    color: #000000;
}

.employee-card:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.employee-info {
    margin-left: 16px;
}

.employee-info .name {
    color: var(--color-text-primary);
    font-size: 18px;
    font-weight: bold;
}

.employee-info .position {
    color: var(--color-text-secondary);
    font-size: 14px;
}